DOMAIN=
# Tú creas las cuentas manualmente desde /admin
SIGNUPS_ALLOWED=false
# Necesario para notificaciones/"login with device"
ENABLE_WEBSOCKET=true
# openssl rand -base64 32
ADMIN_TOKEN=

SSO_ENABLED=false
# Issuer
SSO_AUTHORITY=  
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
# Oculta el login por email/password, solo botón SSO
SSO_ONLY=false 
SSO_SCOPES=profile offline_access vaultwarden email
SSO_PKCE=true
SSO_ROLES_ENABLED=true
SSO_ROLES_DEFAULT_TO_USER=true
SSO_ROLES_TOKEN_PATH=/vaultwarden_roles
SSO_SIGNUPS_MATCH_EMAIL=true
