# See the documentation for more information: https://pocket-id.org/docs/configuration/environment-variables
APP_URL=http://localhost:1411
TRUST_PROXY=false
# openssl rand -base64 32
ENCRYPTION_KEY=
MAXMIND_LICENSE_KEY=
PUID=1000
PGID=1000
